<div class="d-flex justify-content-center">
  <div class="brand text-center">
    <a title="Birdiy" href="/">
      <img alt="Birdiy" class="brand-logo" src="/images/brand.png">
    </a>
  </div>
</div>
