<div class="row justify-content-center">
  <div class="text-center">
    <a class="mr-3" href='http://play.google.com/store/?pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="download-image" alt='Google Play立即下載' src='/images/google-play-download.svg'></a>
    <a class="ml-3" href='http://play.google.com/store/?pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="download-image" alt='App Store 下載' src='/images/app-store-download.svg'></a>
  </div>
</div>
