<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Birdiy - 自己動手做，享受手作的樂趣！</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="elegant-color" data-spy="scroll" data-target=".fixed-top">
    <%= render BirdiyWeb.SharedView, "nav.html", assigns %>
    <main role="main" class="content">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <%= render BirdiyWeb.SharedView, "footer.html", assigns %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
