.search {
  padding-bottom: 50px;
  max-width: 800px;
}

.search-btn {
  font-size: 1rem;
  padding: 0;
  height: 3rem;
  border-radius: 0.3rem;
  min-width: 100px;
}

@media(max-width: 575px) {
  .search-btn {
    display: none;
  }
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
