<header class="header">
  <div class="d-flex justify-content-center download-text">
    <div class="col-10 justify-content-center text-center">
      <div>立即下載 Birdiy APP！</div>
      <div>探索 <span class="blue-text"><%= assigns[:topic_name] %></span> 的相關專案與作法。</div>
    </div>
  </div>
  <%= render BirdiyWeb.SharedView, "_download.html" %>
</header>
