.social-icon {
  color: #fff;
  transition: all .2s ease-in-out;
}

.social-icon:hover {
  color: #aaa;
}

.footer-link {
  color: #fff !important;
}

.footer-link:hover {
  color: #0099ff !important;
}
