<div class="d-flex justify-content-center">
  <div class="text-center">
    <a class="mr-3" href="https://play.google.com/store/apps/details?id=com.birdiy.app"><img class="download-image" alt='Google Play立即下載' src='/images/google-play-download.png'></a>
    <a class="ml-3" data-toggle="tooltip" title="近期上架！"><img class="download-image download-soon-image" alt='App Store 下載' src='/images/app-store-download.svg'></a>
  </div>
</div>
